
.form {
  max-width: 25rem;
  height: 10rem;
  border: 1px solid #383838;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  padding: 0 0.5rem;
}

.input__short {
  width: 30%;
}

.input__long, select {
  width: 40%;
}

.form__input, select {
  height: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 0.4rem;
  box-sizing: border-box;
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
}

.form__button {
  margin-left: auto;
  margin-top: -0.7rem;
  width: 40%;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #4287f5;
  border: 1px solid #383838;
  padding: 0.3rem;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}



select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: transparent;
  color :grey;
}

select::-ms-expand {
  display: none;
}

.blackfont {
  color:black
}

.ok-message {
  width: 98%;
  color: #000000;
  background-color: #52d981;
  font-size: 13px;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

/*LOADER*/

.lds-dual-ring {
  display: inline-block;
  width: 15px;
  height: 15px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  margin: 0px;
  border-radius: 50%;
  border: 6px solid #4287f5;
  border-color:#4287f5 transparent #4287f5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*MEDIA REQUEST*/

@media (max-width: 767px), (max-width: 992px) {
  .form {
    max-width: none;
    max-height: none;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  }
  .input__short, .input__long, select {
    width: 95%;
  }

  .form__button {
    width: 95%;
    margin-top: 0;
  }

  .ok-message {
    width: 94%;
  }

 }



